version: '3.8'

services:
  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 5s
      retries: 5

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.10.0
    ports:
      - "5000:5000"
    command: mlflow server --backend-store-uri sqlite:////mlruns/mlflow.db --default-artifact-root /mlruns --host 0.0.0.0
    volumes:
      - ./mlruns:/mlruns

  airflow-webserver:
    build: .
    command: webserver
    ports:
      - "8080:8080"
    environment:
      - AIRFLOW__CORE__EXECUTOR=${AIRFLOW__CORE__EXECUTOR}
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
      - AIRFLOW__CORE__LOAD_EXAMPLES=${AIRFLOW__CORE__LOAD_EXAMPLES}
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
      - TARGET_DATABASE_CONN=${TARGET_DATABASE_CONN}
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/dags/src
      - ./data:/opt/airflow/data
      - ./requirements.txt:/requirements.txt
    depends_on:
      - postgres
      - airflow-scheduler

  airflow-scheduler:
    build: .
    command: scheduler
    environment:
      - AIRFLOW__CORE__EXECUTOR=${AIRFLOW__CORE__EXECUTOR}
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
      - AIRFLOW__CORE__LOAD_EXAMPLES=${AIRFLOW__CORE__LOAD_EXAMPLES}
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
      - TARGET_DATABASE_CONN=${TARGET_DATABASE_CONN}
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/dags/src
      - ./data:/opt/airflow/data
      - ./requirements.txt:/requirements.txt
    depends_on:
      - postgres

  airflow-init:
    build: .
    command: version
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=${AIRFLOW__DATABASE__SQL_ALCHEMY_CONN}
    depends_on:
      postgres:
        condition: service_healthy
    entrypoint: /bin/bash -c "airflow db init && airflow users create --username ${AIRFLOW_USER} --password ${AIRFLOW_PASSWORD} --firstname Admin --lastname User --role Admin --email ${AIRFLOW_EMAIL}"

volumes:
  postgres-db-volume: